@font-face {
    src: url("../fonts/Tajawal-Bold.ttf");
    font-family: "TBold";
}
@font-face {
    src: url("../fonts/Tajawal-Black.ttf");
    font-family: "TBlack";
}
@font-face {
    src: url("../fonts/Tajawal-ExtraBold.ttf");
    font-family: "TExtraBlod";
}
@font-face {
    src: url("../fonts/Tajawal-ExtraLight.ttf");
    font-family: "TExtraLight";
}
@font-face {
    src: url("../fonts/Tajawal-Light.ttf");
    font-family: "TLight";
}
@font-face {
    src: url("../fonts/Tajawal-Medium.ttf");
    font-family: "TMedium";
}
@font-face {
    src: url("../fonts/Tajawal-Regular.ttf");
    font-family: "TRegular";
}